---
layout: list.njk
eleventyComputed:
  title: "Blog"
  description: "{% if pagination.pageNumber %}Page {{ (pagination.pageNumber + 1) }} of blog{% else %}Blog{% endif %} posts by Mike Street, developer and side-project-aholic from the South of England"
eleventyNavigation:
  key: Blog
  order: 2
pagination:
  data: collections.blog
  size: 10
---
