---
title: Diary
description: All of my posts in one place, by year and month
layout: page.njk
---

<h1>Diary</h1>
<p>All my blog posts, chronologically ordered from now back in time.
<div class="post-listing">
	<ol class="diary">
	{% for year in diary() %}
		<li>
			<div><h2 id="{{ year.title }}">{{ year.title }}</h2></div>

			<ol>
			{% for month in year.months %}
				<div><h3>{{ month.title }}</h3></div>

				<ol class="diaryEntries">
				{% for entry in month.entries %}
					<li>{{ entry.date }} - <a href="{{ entry.url }}">{{ entry.title }}</a> {% if entry.publication %} for {{ entry.publication }}{% endif %}</li>
				{% endfor %}
				</ol>
			{% endfor %}
			</ol>
		</li>
	{% endfor %}
	</ol>
</div>

