---
layout: list.njk
eleventyComputed:
  title: "Drafts"
  description: "{% if pagination.pageNumber %}Page {{ (pagination.pageNumber + 1) }} of draft blog{% else %}Draft{% endif %} posts by Mike Street, developer and side-project-aholic from the South of England"
pagination:
  data: collections.drafts
  size: 10
---
