---
layout: default.njk
description: Website of Mike Street, Lead Developer and CTO from England
eleventyNavigation:
  key: Home
---

<div class="intro">
	<div class="introWrapper" class="h-card">
		<img src="/assets/img/mike.webp" width="300" height="300" class="u-photo" alt="Mike Street" loading="lazy">
		<div class="introText">
			<h1 class="p-name">
				<svg xmlns="http://www.w3.org/2000/svg" width="493" height="493" viewbox="0 0 493 493">
					<g fill="none" fill-rule="evenodd">
						<path fill="#000" d="M492.54 1h.374v325.637H327.51v-106.46L492.538 1Z"/>
						<path fill="#000" d="m167.604.914 78.8 107.634L326.675.914h165.93L492.54 1H327.51l-.002 219.176-.833 1.108-80.271 105.439L.605.913h166.999Z"/>
						<path fill="#35eb93" d="M492.54 1 327.507 220.178 327.51 1h165.03ZM325.607 382.038h166.998v110.876H325.607zM.605 382.038h166.998v110.876H.605z"/>
					</g>
				</svg>
				Mike Street
			</h1>
			<div class="p-note">
				<p>I am CTO and Lead Developer for Brighton-based web agency <a href="http://www.liquidlight.co.uk">Liquid Light</a>. I'm into anything DevOps, SysOps, InfoSec, CI/CD and anything else to do with web development.</p>
			</div>
			<ul class="social">
				<li class="twitter">
					<a href="https://hachyderm.io/@mikestreety" title="Follow me on Mastodon" rel="me">
						Mastodon
					</a>
				</li>

				<li class="instagram">
					<a href="https://www.instagram.com/mikestreety/" title="Follow me on Instagram" rel="me">
						Instagram
					</a>
				</li>

				<li class="coffee">
					<a href="https://www.buymeacoffee.com/mikestreety" title="Buy me a Coffee">
						Buy me a Coffee
					</a>
				</li>
			</ul>

		</div>
	</div>
</div>

<section class="post-listing">
	<div class="container">
		<h2>Latest Posts</h2>
	</div>
	<div class="horizonal-listing container">
		<div class="post-listing grid-listing">
			<ul class="post-listing-full">
			{% set postslist = collections.blog | limit(6) %}
			{%- for entry in postslist -%}
				{% include 'entry.njk' %}
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container center">
		<a href="/blog/" class="button">View more blog posts</a>
	</div>
</section>
