---
layout: page.njk
eleventyComputed:
  title: "{% if pagination.pageNumber %}Page {{ (pagination.pageNumber + 1) }} - {% endif %}Notes"
  description: "{% if pagination.pageNumber %}Page {{ (pagination.pageNumber + 1) }} of notes{% else %}Notes{% endif %} links and tidbits by Mike Street, CTO and Lead Developer"
eleventyNavigation:
  key: Notes
  order: 3
pagination:
  data: collections.notes
  size: 10
---
<h1>Notes {% if pagination.pageNumber %}- page {{ (pagination.pageNumber + 1) }}{% endif %}</h1>

<div class="breadcrumb meta">
	<ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a itemprop="item" href="{{ meta.site.url }}/">
				<span itemprop="name">Home</span>
			</a>
			<meta itemprop="position" content="1">
		</li>
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a itemprop="item" href="{{ meta.site.url }}/notes/">
				<span itemprop="name">Notes</span>
			</a>
			<meta itemprop="position" content="2">
		</li>
	</ol>
</div>

<div class="post-listing">
	<ul class="post-listing-full">
	{% for entry in pagination.items %}
		{% include 'note.njk' %}
	{% endfor %}
	</ul>

	<nav class="pagination">
		{% if pagination.href.previous %}
		<a class="button button-small" rel="prev" href="{{ pagination.href.previous }}">
			Newer Posts
		</a>
		{% endif %}
		{% if pagination.href.next %}
		<a class="button button-small historical" rel="next" href="{{ pagination.href.next }}">
			Older Posts
		</a>
		{% endif %}
	</nav>
</div>
