---
layout: list.njk
eleventyComputed:
  title: "Notes"
  description: "{% if pagination.pageNumber %}Page {{ (pagination.pageNumber + 1) }} of notes{% else %}Notes{% endif %} by Mike Street, developer and side-project-aholic from the South of England"
eleventyNavigation:
  key: Notes
  order: 3
pagination:
  data: collections.notes
  size: 10
---
