---js
{
	permalink: "pending.json",
	post: function() {
		let pending = this.ctx.collections['drafts']
			.reverse()
			.filter(p => !p.data.draft);

		return {
			title: pending[0].data.title,
			date: pending[0].date
		};
	}
}
---
{{ post() | dump | safe }}
