---
title: Year in Review Stats
description: Cycling, walking, blog and instagram stats, broken down by year
layout: page.njk
---

<h1>"Year in Review" Statistics</h1>
<p>Every year, I write a <a href="/category/annual-review/">summary of the year</a> (more for my benefit than anyone else's). In previous years, I've collated stats and displayed via tables. I thought it about time I made some charts with the data.</p>

<p>Different stats start at different times as I wanted to collate all the data I could, instead of data fixed to the shortest time.</p>

<h2>Blog Posts</h2>
<p>How many blog posts have I written for <a href="/blog/">myself</a> and <a href="https://www.liquidlight.co.uk/blog/author/mike-street/">Liquid Light</a>?</p>
<div class="chartWrap">
	<div class="chart">
		<h3>Personal blog</h3>
		<div id="postsPersonal"></div>
	</div>
	<div class="chart">
		<h3>Liquid Light</h3>
		<div id="postsLiquidLight"></div>
	</div>
</div>

<div class="chart">
	<h2>Blog Posts</h2>
	<p>My 10 most popular blog posts of the year and their rank in comparison to the previous year</p>
	<div class="js-tabs" id="tabs">
		<ul class="js-tabs__header">
			{% for posts in stats.posts %}
			<li><a class="js-tabs__title" href="#">{{ posts.title }}</a></li>
			{% endfor %}
		</ul>

		{% for posts in stats.posts %}
		<div class="js-tabs__content">
			<h3>{{ posts.title }}</h3>
			<table>
			{% for post in posts.posts %}
			{% set entry = post.slug | findPost %}

			<tr>
				<td><strong>{{ post.position }}</strong></td>

				{% if post.position_change !== false %}
					{% if post.position_change > 0 %}
						<td class="winner">↑ {{ post.position_change }}</td>
					{% elif post.position_change < 0 %}
						<td class="loser">↓ {{ post.position_change * -1 }}</td>
					{% else %}
						<td> - </td>
					{% endif %}
				{% else %}
					<td><small>New!</small></td>
				{% endif %}

				<td><a href="{{ entry.url }}">{{ entry.data.title }}</a></td>
				<td><small style="white-space: nowrap">{{ entry.date | dateLong }}</small></td>
			</tr>
			{% endfor %}
			</table>
		</div>
		{% endfor %}
	</div>
</div>

<h2>Ale House Rock</h2>
<p>How many beers <a href="https://alehouse.rocks/">have I reviewed</a> each year?
<div class="chartWrap">
	<div class="chart chartFullwidth">
		<div id="instagramAleHouseRock"></div>
	</div>
</div>

<h2>Cycling</h2>
<p>The following data is from Strava since I started using it (which was pretty much when I started road cycling in 2012)</p>
<div class="chartWrap">
	<div class="chart">
		<h3>Distance</h3>
		<div id="cyclingDistance"></div>
	</div>
	<div class="chart">
		<h3>Time Spent on Rides</h3>
		<div id="cyclingTime"></div>
	</div>
	<div class="chart">
		<h3>Elevation</h3>
		<div id="cyclingElevation"></div>
	</div>
	<div class="chart">
		<h3>Number of Rides</h3>
		<div id="cyclingRides"></div>
	</div>
</div>

<h2>Walking</h2>
<p> Walking data starts in 2019, which was when I got my Garmin watch.</p>
<div class="chartWrap">
	<div class="chart chartFullwidth">
		<h3>Steps stepped</h3>
		<div id="walkingSteps"></div>
	</div>
</div>
<div class="chartWrap">
	<div class="chart">
		<h3>Floors climbed</h3>
		<div id="walkingFloors"></div>
	</div>
	<div class="chart">
		<h3>Calories burned</h3>
		<div id="walkingCalories"></div>
	</div>
</div>

<h2>Geocaches</h2>
<p>As you can see, I used to Geocache, <em>a lot</em>. After a 10 year hiatus I started back up at the end of 2021</p>
<div class="chartWrap">
	<div class="chart chartFullwidth">
		<h3>Geocaches found</h3>
		<div id="geocaches"></div>
	</div>
</div>

<div class="chartWrap">
	<div class="chart">
		<h2>Last.fm</h2>
		<p>How many scrobbles on <a href="">Last.fm</a>? (Spotify plays)</p>
		<div id="lastFmScrobbles"></div>
	</div>
	<div class="chart">
		<h2>Instagram</h2>
		<p>Looking back over the years, how many pictures have I posted on <a href="https://www.instagram.com/mikestreety/">Instagram</a>?</p>
		<div id="instagramPersonal"></div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/assets/js/charts.js"></script>
