---
layout: list.njk
eleventyComputed:
  title: "Talks"
  description: "{% if pagination.pageNumber %}Page {{ (pagination.pageNumber + 1) }} of talks{% else %}Talks{% endif %} by Mike Street, developer and side-project-aholic from the South of England"
eleventyNavigation:
  key: Talks
  order: 4
pagination:
  data: collections.talks
  size: 10
---
