---js
{
	permalink: "upcoming.json",
	post: function() {
		let pending = this.ctx.collections['scheduled'];

		return {
			title: pending[0].data.title,
			date: pending[0].date
		};
	}
}
---
{{ post() | dump | safe }}
