---
permalink: _redirects
sitemapIgnore: true
---

/rss	/rss.xml
/rss/	/rss.xml
/search	https://www.google.com/search?q=site:mikestreety.co.uk

# Talks
/2025-04-25-unravelling-git /talks/unravelling-git-the-secrets-of-the-commit-hash/

# Blog posts
/blog/reminder-git-analytics-tina-and-js	/blog/notes-0/
/blog/2021-04-06-writing-schedule/	/blog/my-2021-writing-schedule/
/blog/2021-04-06-my-2021-writing-schedule/	/blog/my-2021-writing-schedule/
/blog/2021-01-18-setting-up-a-custom-domain-with-netlify-with-cloudflare-ssl/	/blog/setting-up-a-custom-domain-with-netlify-with-cloudflare-ssl/
/blog/2018-11-17-xbox-one-s-vs-playstation-4/	/blog/xbox-one-s-vs-playstation-4/
/blog/2011-02-21-redirect-to-one-central-domain-htaccess	/blog/redirect-to-one-central-domain-htaccess
/blog/an-advanced-gulpjs-file	/blog/advanced-gulp-file/
/blog/version-contraints-in-json-files/	/blog/version-constraints-in-json-files/
/2012/02/books-a-smashing-story/	/blog/my-favourite-5-books-a-smashing-story/
