---
permalink: _redirects
sitemapIgnore: true
---

/notes	/category/notes/
/search	https://www.google.com/search?q=site:mikestreety.co.uk

# Blog pagination
/blog/p2	/blog/1/
/blog/p3	/blog/2/
/blog/p4	/blog/3/
/blog/p5	/blog/4/
/blog/p6	/blog/5/
/blog/p7	/blog/6/
/blog/p8	/blog/7/
/blog/p9	/blog/8/
/blog/p10	/blog/9/
/blog/p11	/blog/10/
/blog/p12	/blog/11/
/blog/p13	/blog/12/
/blog/p14	/blog/13/
/blog/p15	/blog/14/
/blog/p16	/blog/15/
/blog/p17	/blog/16/
/blog/p18	/blog/17/

# Blog posts
/blog/reminder-git-analytics-tina-and-js	/blog/notes-0/
