---
permalink: _redirects
sitemapIgnore: true
---

/rss	/rss.xml
/rss/	/rss.xml
/search	https://www.google.com/search?q=site:mikestreety.co.uk

# Blog pagination
/blog/p2	/blog/1/
/blog/p3	/blog/2/
/blog/p4	/blog/3/
/blog/p5	/blog/4/
/blog/p6	/blog/5/
/blog/p7	/blog/6/
/blog/p8	/blog/7/
/blog/p9	/blog/8/
/blog/p10	/blog/9/
/blog/p11	/blog/10/
/blog/p12	/blog/11/
/blog/p13	/blog/12/
/blog/p14	/blog/13/
/blog/p15	/blog/14/
/blog/p16	/blog/15/
/blog/p17	/blog/16/
/blog/p18	/blog/17/

{%- for item in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16] %}
/blog/notes-{{ item }}/	/notes/notes-{{ item }}/
{%- endfor %}

# Blog posts
/blog/reminder-git-analytics-tina-and-js	/blog/notes-0/
/blog/2021-04-06-writing-schedule/	/blog/my-2021-writing-schedule/
/blog/2021-04-06-my-2021-writing-schedule/	/blog/my-2021-writing-schedule/
/blog/2021-01-18-setting-up-a-custom-domain-with-netlify-with-cloudflare-ssl/	/blog/setting-up-a-custom-domain-with-netlify-with-cloudflare-ssl/
/blog/2018-11-17-xbox-one-s-vs-playstation-4/	/blog/xbox-one-s-vs-playstation-4/
/blog/2011-02-21-redirect-to-one-central-domain-htaccess	/blog/redirect-to-one-central-domain-htaccess
/blog/an-advanced-gulpjs-file	/blog/advanced-gulp-file/
/blog/version-contraints-in-json-files/	/blog/version-constraints-in-json-files/
/2012/02/books-a-smashing-story/	/blog/my-favourite-5-books-a-smashing-story/
