<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		{% if pagination.pageNumber %}Page {{ (pagination.pageNumber + 1) }} - {% endif %}
		{{ title }}{{ " - " if title }}{{ meta.site.title }} - {{ meta.site.description }}</title>
	<link rel="home" href="{{ meta.site.url }}/">

	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
	<meta name="generator" content="{{ eleventy.generator }}">

	<link rel="manifest" href="/site.webmanifest">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon-180.png">
	<link rel="apple-touch-icon" sizes="512x512" href="/assets/img/favicon-512.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="shortcut icon" href="/assets/img/favicon.ico">
	<meta name="msapplication-TileColor" content="{{ meta.themeColour }}">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<meta name="theme-color" content="{{ meta.themeColour }}">

	<meta name="description" content="{{ intro if intro else description }}">
	<meta name="author" content="{{ meta.author.first_name }} {{ meta.author.last_name }}">
	<meta property="profile:first_name" content="{{ meta.author.first_name }}">
	<meta property="profile:last_name" content="{{ meta.author.last_name }}">
	<meta property="profile:username" content="{{ meta.social.twitter }}">


	<link rel="webmention" href="https://webmention.io/www.mikestreety.co.uk/webmention">
	<link rel="pingback" href="https://webmention.io/www.mikestreety.co.uk/xmlrpc">

	<meta property="twitter:card" content="summary">
	<meta property="twitter:site" content="@{{ meta.social.twitter }}">
	<meta property="twitter:creator" content="@{{ meta.social.twitter }}">

	<meta property="og:type" content="website">
	<meta property="og:title" property="twitter:title" content="{{ title }}{{ " - " if title }}{{ meta.site.title }} - {{ meta.site.description }}">
	<meta property="og:url" content="{{ meta.site.url }}{{ page.url }}">
	<meta property="og:site_name" content="{{ meta.site.title }}">
	<meta property="og:title" content="{{ title }}">
	{% if socialMediaPhoto is defined  %}
	<meta property="og:image" property="twitter:image" name="image" content="{{ meta.site.url }}{{ socialMediaPhoto  }}">
	<meta property="og:image:width" content="1300">
	<meta property="og:image:height" content="650">
	{% else %}
	<meta property="og:image" property="twitter:image" name="image" content="{{ meta.site.url }}/assets/img/mike.jpg">
	{% endif %}
	<meta property="og:description" property="twitter:description" content="{{ intro if intro else description }}">

	<link rel="alternate" type="application/rss+xml" title="Mike Street's Blog Posts" href="/rss.xml">
	<link rel="alternate" type="application/rss+xml" title="Mike Street's Notes" href="/rss-notes.xml">
	<link rel="alternate" type="application/rss+xml" title="Mike Street's Blogs &amp; Notes" href="/rss-all.xml">

	{% if sitemapIgnore or draft %}
	<meta name="robots" content="noindex, nofollow">
	{% endif %}

	{% set count = 1 %}

	{% if tags %}
	<meta property="article:published_time" content="{{ page.date | dateISO }}">

	{% for tag in tags -%}
	<meta property="article:tag" content="{{ tag }}">
	{%- endfor %}

	{% set comma = joiner() %}
	<meta property="twitter:label{{ count }}" value="Tags">
	<meta property="twitter:data{{ count }}" value="{% for tag in tags -%}{{ comma() }} {{ tag }}{%- endfor %}">
	{% set count = count + 1 %}

	<meta property="twitter:label{{ count }}" value="Reading time">
	<meta property="twitter:data{{ count }}" value="{{ content | emojiReadTime }}">
	{% set count = count + 1 %}
	{% endif %}

	{% if who %}
	<meta property="twitter:label{{ count }}" value="For">
	<meta property="twitter:data{{ count }}" value="{{ who }}">
	{% set count = count + 1 %}
	{% endif %}

	{% if canonical %}
	<meta property="twitter:label{{ count }}" value="Original link">
	<meta property="twitter:data{{ count }}" value="{{ canonical }}">
	{% set count = count + 1 %}
	{% endif %}

	<!-- Coil -->
	<meta name="monetization" content="$ilp.uphold.com/R6wFMN3kXQbL">

	{% if canonical is defined  %}
	<link rel="canonical" href="{{ canonical }}">
	{% else %}
	<link rel="canonical" href="{{ meta.site.url }}{{ page.url }}">
	{% endif %}

	<link rel="stylesheet" href="/assets/css/style.css">

	<script>
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('/sw.js?1');
	}
	</script>
	<script type="text/javascript">
		(function(c,l,a,r,i,t,y){
			c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
			t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
			y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
		})(window, document, "clarity", "script", "g7ya4379z5");
	</script>
</head>

<body {% if bodyclass is defined %}class="{{ bodyclass }}"{% endif %}>
	<div class="page" itemscope itemtype="http://schema.org/WebSite">
		<header class="header">
			<div class="container">
				<div class="title">
					<a href="/" class="logo" title="Mike Street">
						<svg xmlns="http://www.w3.org/2000/svg" width="493" height="493" viewbox="0 0 493 493">
							<g fill="none" fill-rule="evenodd">
								<path fill="#fff" d="M492.54 1h.374v325.637H327.51v-106.46L492.538 1Z"/>
								<path fill="#fff" d="m167.604.914 78.8 107.634L326.675.914h165.93L492.54 1H327.51l-.002 219.176-.833 1.108-80.271 105.439L.605.913h166.999Z"/>
								<path fill="#35eb93" d="M492.54 1 327.507 220.178 327.51 1h165.03ZM325.607 382.038h166.998v110.876H325.607zM.605 382.038h166.998v110.876H.605z"/>
							</g>
						</svg>
					</a>
					<a href="/">
						<span>{{ meta.site.title }}</span>
					</a>
				</div>
				<nav class="menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
					<meta itemprop="name" content="Navigation Menu">
					{% set pages = collections.all | eleventyNavigation %}
					<ul>
					{%- for entry in pages %}
						<li>
							<a href="{{ entry.url | url }}" itemprop="url" {% if entry.url == page.url %}class="active"{% endif %}>{{ entry.title }}</a>
						</li>
					{%- endfor %}
					</ul>
				</nav>
			</div>
		</header>

		<main class="content">
			{{ content | safe }}
		</main>

		<footer class="footer">
			<div class="container">
				<ul class="social">
					<li class="mastodon">
						<a rel="me" href="https://hachyderm.io/@mikestreety" title="Follow me on Mastodon">
							Mastodon
						</a>
					</li>

					<li class="twitter">
						<a href="https://www.linkedin.com/in/mikestreety/" rel="me">
							LinkedIn
						</a>
					</li>

					<li class="instagram">
						<a href="https://bsky.app/profile/mikestreety.co.uk"  rel="me">
							Bluesky
						</a>
					</li>

					<li class="github">
						<a href="https://github.com/mikestreety/" title="Check out my Github" rel="me">
							Github
						</a>
					</li>

					<li class="gitlab">
						<a href="https://gitlab.com/mikestreety" title="Check out my Gitlab" rel="me">
							Gitlab
						</a>
					</li>

					<li class="coffee">
						<a href="https://www.buymeacoffee.com/mikestreety" title="Buy me a Coffee">
							Buy me a Coffee
						</a>
					</li>
				</ul>

				<p>
					<a href="/diary/">The diary</a> |
					<a href="/stats/">Stats</a> |
					<a href="/contact/">Contact</a>
					</br>
					<a class="h-card" rel="me" href="https://www.mikestreety.co.uk/">{{ meta.site.title }}</a> | <a href="/rss.xml">Blog RSS</a> | <a href="/rss-notes.xml">Notes RSS</a> | <a href="/rss-all.xml">Full RSS Feed</a>.</p>
			</div>
		</footer>

		<link itemprop="url" href="https://www.mikestreety.co.uk/">
	</div>
	<script type="application/ld+json">
	{
		"@context" : "http://schema.org",
		"@type" : "Person",
		"name" : "Mike Street",
		"url" : "http://www.mikestreety.co.uk",
		"homeLocation": "Brighton",
		"sameAs" : [
			"https://twitter.com/mikestreety",
			"https://www.instagram.com/mikestreety/"
		]
	}
	</script>
</body>
</html>
