<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ title }} - {{ meta.site.title }}</title>
	<link rel="home" href="{{ meta.site.url }}" />

	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

	<link rel="manifest" href="/site.webmanifest">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/ficons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/ficons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/ficons/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="shortcut icon" href="/assets/img/ficons/favicon.ico">
	<meta name="msapplication-TileColor" content="{{ meta.themeColour }}">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<meta name="theme-color" content="#6AF0B0">

	<meta name="description" content="{{ description }}"/>
	<meta name="author" content="{{ meta.author }}">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@{{ meta.social.twitter }}">
	<meta property="twitter:creator" content="@{{ meta.social.twitter }}">

	<meta property="og:type" content="website">
	<meta property="og:title" property="twitter:title" content="{{ title }} - {{ meta.site.title }}">
	<meta property="og:url" content="{{ meta.site.url }}{{ page.url }}">
	<meta property="og:site_name" content="{{ meta.site.title }}">
	<meta property="og:title" content="{{ title }}">
	{% if socialMediaPhoto is defined  %}
	<meta property="og:image" property="twitter:image" name="image" content="{{ meta.site.url }}{{ socialMediaPhoto  }}">
	<meta property="og:image:width" content="1300">
	<meta property="og:image:height" content="650">
	{% else %}
	<meta property="og:image" property="twitter:image" name="image" content="{{ meta.site.url }}/assets/img/social-media/default.jpg">
	{% endif %}
	<meta property="og:description" property="twitter:description" content="{{ description }}">

	<link rel="stylesheet" href="/assets/css/style.css">

	<script>
	var _paq = _paq || [];
	_paq.push(['trackPageView']);

	_paq.push(['enableLinkTracking']);
	_paq.push(['enableHeartBeatTimer', 30]);
	_paq.push(['trackVisibleContentImpressions', true, 750]);

	(function() {
		var u="//analytics.mikestreety.co.uk/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();

	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('/sw.js?1');
	}
	</script>
</head>

<body {% if bodyclass is defined %}class="{{ bodyclass }}"{% endif %}>
	<div class="page" itemscope itemtype="http://schema.org/WebSite">
		<header class="header">
			<div class="container">
				<div class="title">
					<a href="/">
						{{ meta.site.title }}
					</a>
				</div>
				<nav class="menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
					<meta itemprop="name" content="Navigation Menu">
					{% set pages = collections.all | eleventyNavigation %}
					<ul>
					{%- for entry in pages %}
						<li>
							<a href="{{ entry.url | url }}" itemprop="url" {% if entry.url == page.url %}class="active"{% endif %}>{{ entry.title }}</a>
						</li>
					{%- endfor %}
					</ul>
				</nav>
			</div>
		</header>

		<main class="content">
			{{ content | safe }}
		</main>
		<footer class="footer">
			<div class="container">
				{% include 'social.njk' %}
				<p><a class="h-card" rel="me" href="https://www.mikestreety.co.uk/">{{ meta.site.title }}</a>. <a href="/rss">RSS Feed</a>. </p>
			</div>
		</footer>
	</div>
	<link itemprop="url" href="https://www.mikestreety.co.uk/"/>
	<script src="/assets/js/app.js"></script>
	<script type="application/ld+json">
	{
		"@context" : "http://schema.org",
		"@type" : "Person",
		"name" : "Mike Street",
		"url" : "http://www.mikestreety.co.uk",
		"homeLocation": "Brighton",
		"sameAs" : [
			"https://twitter.com/mikestreety",
			"https://www.instagram.com/mikestreety/"
		]
	}
	</script>

</body>
</html>
