<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ title }}{{ " - " if title }}{{ meta.site.title }} - {{ meta.site.description }}</title>
	<link rel="home" href="{{ meta.site.url }}/" />

	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
	<meta name="generator" content="{{ eleventy.generator }}">

	<link rel="manifest" href="/site.webmanifest">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="shortcut icon" href="/assets/img/favicon.ico">
	<meta name="msapplication-TileColor" content="{{ meta.themeColour }}">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<meta name="theme-color" content="{{ meta.themeColour }}">

	<meta name="description" content="{{ intro if intro else description }}"/>
	<meta name="author" content="{{ meta.author.first_name }} {{ meta.author.last_name }}">
	<meta property="profile:first_name" content="{{ meta.author.first_name }}" />
	<meta property="profile:last_name" content="{{ meta.author.last_name }}" />
	<meta property="profile:username" content="{{ meta.social.twitter }}" />


	<link rel="webmention" href="https://webmention.io/www.mikestreety.co.uk/webmention" />
	<link rel="pingback" href="https://webmention.io/www.mikestreety.co.uk/xmlrpc" />

	<meta property="twitter:card" content="summary">
	<meta property="twitter:site" content="@{{ meta.social.twitter }}">
	<meta property="twitter:creator" content="@{{ meta.social.twitter }}">

	<meta property="og:type" content="website">
	<meta property="og:title" property="twitter:title" content="{{ title }}{{ " - " if title }}{{ meta.site.title }} - {{ meta.site.description }}">
	<meta property="og:url" content="{{ meta.site.url }}{{ page.url }}">
	<meta property="og:site_name" content="{{ meta.site.title }}">
	<meta property="og:title" content="{{ title }}">
	{% if socialMediaPhoto is defined  %}
	<meta property="og:image" property="twitter:image" name="image" content="{{ meta.site.url }}{{ socialMediaPhoto  }}">
	<meta property="og:image:width" content="1300">
	<meta property="og:image:height" content="650">
	{% else %}
	<meta property="og:image" property="twitter:image" name="image" content="{{ meta.site.url }}/assets/img/mike.jpg">
	{% endif %}
	<meta property="og:description" property="twitter:description" content="{{ intro if intro else description }}">

	{% if sitemapIgnore or draft %}
	<meta name="robots" content="noindex, nofollow" />
	{% endif %}

	{% set count = 1 %}

	{% if tags %}
	<meta property="article:published_time" content="{{ date | dateISO }}" />

	{% for tag in tags -%}
	<meta property="article:tag" content="{{ tag }}" />
	{%- endfor %}

	{% set comma = joiner() %}
	<meta property="twitter:label{{ count }}" value="Tags">
	<meta property="twitter:data{{ count }}" value="{% for tag in tags -%}{{ comma() }} {{ tag }}{%- endfor %}">
	{% set count = count + 1 %}

	<meta property="twitter:label{{ count }}" value="Reading time">
	<meta property="twitter:data{{ count }}" value="{{ content | emojiReadTime }}">
	{% set count = count + 1 %}
	{% endif %}

	{% if publication %}
	<meta property="twitter:label{{ count }}" value="Written for">
	<meta property="twitter:data{{ count }}" value="{{ publication }}">
	{% set count = count + 1 %}
	{% endif %}

	{% if canonical %}
	<meta property="twitter:label{{ count }}" value="Original link">
	<meta property="twitter:data{{ count }}" value="{{ canonical }}">
	{% set count = count + 1 %}
	{% endif %}

	<!-- Coil -->
	<meta name="monetization" content="$ilp.uphold.com/R6wFMN3kXQbL">

	{% if canonical is defined  %}
	<link rel="canonical" href="{{ canonical }}" />
	{% else %}
	<link rel="canonical" href="{{ meta.site.url }}{{ page.url }}" />
	{% endif %}

	<link rel="stylesheet" href="/assets/css/style.css?{{ now | dateISOShort }}">

	<script>
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('/sw.js?1');
	}
	</script>
</head>

<body {% if bodyclass is defined %}class="{{ bodyclass }}"{% endif %}>
	<div class="page" itemscope itemtype="http://schema.org/WebSite">
		<header class="header">
			<div class="container">
				<div class="title">
					<a href="/">
						{{ meta.site.title }}
					</a>
				</div>
				<nav class="menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
					<meta itemprop="name" content="Navigation Menu">
					{% set pages = collections.all | eleventyNavigation %}
					<ul>
					{%- for entry in pages %}
						<li>
							<a href="{{ entry.url | url }}" itemprop="url" {% if entry.url == page.url %}class="active"{% endif %}>{{ entry.title }}</a>
						</li>
					{%- endfor %}
					</ul>
				</nav>
			</div>
		</header>

		<main class="content">
			{{ content | safe }}
		</main>

		<footer class="footer">
			<div class="container">
				{% include 'social.njk' %}
				<p><a href="/scheduled/"><strong>View upcoming posts</strong></a>. <a href="/diary/">The diary</a>. <a class="h-card" rel="me" href="https://www.mikestreety.co.uk/">{{ meta.site.title }}</a>. <a href="/rss.xml">RSS Feed</a>. <a href="https://microanalytics.io/mikestreety.co.uk">View analytics</a></p>
			</div>
		</footer>
	</div>
	<link itemprop="url" href="https://www.mikestreety.co.uk/"/>
	<script type="application/ld+json">
	{
		"@context" : "http://schema.org",
		"@type" : "Person",
		"name" : "Mike Street",
		"url" : "http://www.mikestreety.co.uk",
		"homeLocation": "Brighton",
		"sameAs" : [
			"https://twitter.com/mikestreety",
			"https://www.instagram.com/mikestreety/"
		]
	}
	</script>
<script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
</body>
</html>
