---
layout: default.njk
---
<div class="container">
	<div class="breadcrumb meta">
		<ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a itemprop="item" href="{{ meta.site.url }}/">
				<span itemprop="name">Home</span></a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a itemprop="item" href="{{ meta.site.url }}/blog"><span itemprop="name">Blog</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li class="isHidden" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{ meta.site.url }}{{ page.url }}">
					<span itemprop="name">{{ title }}</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol>
	</div>


	<h1>{{ title }}</h1>

	<div class="meta post-meta">
		<time class="dt-published is-hidden">{{ date | isoDate }}</time>
			Posted on <strong>{{ date | readableDate }}</strong>.
	</div>

	{{ content | safe }}

	<div class="meta categories">
		{% for tag in tags %}
			{% include 'tag.njk' %}
		{% endfor %}
	</div>

	<div class="post-listing grid-listing">
		<ul class="post-listing-full">
		{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
		{% if previousPost %}
			{% set entry = previousPost %}
			{% include 'entry.njk' %}
		{% endif %}

		{% set nextPost = collections.blog | getNextCollectionItem(page) %}
		{% if nextPost %}
			{% set entry = nextPost %}
			{% include 'entry.njk' %}
		{% endif %}
		</ul>
	</div>
</div>
