---
layout: default.njk
---
<div class="container">
	<h1>{{ title }}</h1>

	<div class="meta post-meta">
		<time class="dt-published is-hidden">{{ date | isoDate }}</time>
			Posted on <strong>{{ date | readableDate }}</strong>.
	</div>

	{{ content | safe }}

	<div class="meta categories">
		{% for tag in tags %}
			{% include 'tag.njk' %}
		{% endfor %}
	</div>

	{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
	{{ previousPost.url }}
	{% set nextPost = collections.blog | getNextCollectionItem(page) %}
	{{ nextPost.url }}
</div>
