---
layout: default.njk
---
<div class="container blog-container h-entry">
	<div class="article single-article h-entry">

		<h1>{{ title }}</h1>

		<div class="meta post-meta">
			{% if date %}
			<time class="dt-published is-hidden">{{ date | dateISO }}</time>
			Posted on <strong>{{ date | dateLong }} {{ date | time }}</strong>.
			{% endif %}
		</div>

		<div class="single-content e-content">
			{{ content | safe }}

			{% if link %}
			<a href="{{ link }}" class="u-in-reply-to">{{ link }}</a>
			{% endif %}
		</div>

		<div class="meta categories">
			{% for tag in tags %}{% include 'tag.njk' %}{% endfor %}
		</div>
		<p class="meta source">
			<a href="https://github.com/mikestreety/mikestreety/tree/main/{{ page.inputPath }}" title="{{ page.inputPath }}">View this post on Github</a>
		</p>
		{% include "webmentions.njk" %}
		<a class="u-bridgy-fed" href="https://fed.brid.gy/"></a>
	</div>
</div>
