---
layout: default.njk
---
<div class="container blog-container h-entry">
	<div class="article single-article h-entry">
		<div class="breadcrumb meta">
			<ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{ meta.site.url }}/">
					<span itemprop="name">Home</span></a>
					<meta itemprop="position" content="1">
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{ meta.site.url }}/{{ parent }}/"><span itemprop="name">{{ parentTitle }}</span></a>
					<meta itemprop="position" content="2">
				</li>
				<li class="isHidden" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="{{ meta.site.url }}{{ page.url }}">
						<span itemprop="name">{{ title }}</span>
					</a>
					<meta itemprop="position" content="3">
				</li>
			</ol>
		</div>

		<h1>{{ title }}</h1>


		<div class="single-content">
			{{ content | safe }}

			{{ link }}
		</div>

		<div class="meta categories">
			{% for tag in tags %}{% include 'tag.njk' %}{% endfor %}
		</div>
		<p class="meta source">
			<a href="https://gitlab.com/mikestreety/mikestreety/-/blob/main/{{ page.inputPath }}" title="{{ page.inputPath }}">View this post on Gitlab</a>
		</p>
	</div>
</div>
