---
layout: default.njk
---
<div class="container blog-container h-entry">
	<article class="article single-article">
		<div class="breadcrumb meta">
			<ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{ meta.site.url }}/">
					<span itemprop="name">Home</span></a>
					<meta itemprop="position" content="1">
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{ meta.site.url }}/{{ parent }}"><span itemprop="name">{{ parentTitle }}</span></a>
					<meta itemprop="position" content="2">
				</li>
				<li class="isHidden" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="{{ meta.site.url }}{{ page.url }}">
						<span itemprop="name">{{ title }}</span>
					</a>
					<meta itemprop="position" content="3">
				</li>
			</ol>
		</div>

		<h1>{{ title }}</h1>

		{% if publication is defined  %}
		<p class="subtitle">Originally posted on <strong><a href="{{ canonical }}">{{ publication }}</a></strong></p>
		{% endif %}

		<h3 class="is-hidden">
			By <span>{{ meta.author }}</span>
		</h3>

		<div class="meta post-meta">
			{% if date %}
			<time class="dt-published is-hidden">{{ date | isoDate }}</time>
				Posted on <strong>{{ date | readableDate }}</strong>.
			{% endif %}
			<strong>{{ content | readingTime }}</strong> reading time
		</div>

		<div class="single-content">
			{{ content | safe }}
		</div>

		<div class="alt">This website is currently having a full content audit - apologies if some of the code or content looks a bit funky!</div>

		<div class="meta categories">
			{% for tag in tags %}{% include 'tag.njk' %}{% endfor %}
		</div>
	</article>

	<h2 class="h3">You might also enjoy&hellip;</h2>
	<div class="post-listing grid-listing">
		<ul class="post-listing-full">
		{% set group = collections[ parent ] %}
		{% set previousPost = group | getPreviousCollectionItem(page) %}
		{% if previousPost %}
			{% set entry = previousPost %}
			{% include 'entry.njk' %}
		{% endif %}
		{% set nextPost = group | getNextCollectionItem(page) %}
		{% if nextPost %}
			{% set entry = nextPost %}
			{% include 'entry.njk' %}
		{% endif %}
		</ul>
	</div>

	<div class="author h-card">
		<img src="https://www.mikestreety.co.uk/assets/img/mike.jpg" class="u-photo" width="100" alt="Mike Street">
		<div class="auhtor-details">
			<h4>Written by <span class="p-author">{{ meta.author }}</span></h4>
			<p class="p-note">Mike is a front-end developer from Brighton, UK. He spends his time writing, cycling and coding. You can find Mike on <a href="https://twitter.com/mikestreety">Twitter</a>.</p>
		</div>
	</div>
	{% if not draft %}
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "NewsArticle",
		"mainEntityOfPage":{
			"@type":"WebPage",
			"@id":"{{ meta.site.url }}{{ page.url }}"
		},
		"headline": "{{ title }}",
		"image": {
			"@type": "ImageObject",
			"url": "https://www.mikestreety.co.uk/assets/img/mike.jpg",
			"height": 800,
			"width": 800
		},
		"datePublished": "{{ date | isoDate }}",
		"dateModified": "{{ (updated if updated else date) | isoDate }}",
		"author": {
			"@type": "Person",
			"name": "Mike Street"
		},
		"publisher": {
			"@type": "Organization",
			"name": "Mike Street",
			"logo": {
				"@type": "ImageObject",
				"url": "https://www.mikestreety.co.uk/assets/images/logo.png",
				"width": 244,
				"height": 60
			}
		},
		"description": "{{ intro }}"
	}
	</script>
	{% endif %}
</div>
