---
layout: default.njk
---
<div class="container blog-container h-entry">
	<article class="article single-article h-entry">
		<div class="breadcrumb meta">
			<ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{ meta.site.url }}/">
					<span itemprop="name">Home</span></a>
					<meta itemprop="position" content="1">
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{ meta.site.url }}/{{ parent }}/"><span itemprop="name">{{ parentTitle }}</span></a>
					<meta itemprop="position" content="2">
				</li>
				<li class="isHidden" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="{{ meta.site.url }}{{ page.url }}">
						<span itemprop="name">{{ title }}</span>
					</a>
					<meta itemprop="position" content="3">
				</li>
			</ol>
		</div>

		<h1>{{ title }}</h1>

		{% if publication is defined  %}
		<p class="subtitle">Originally posted on <strong><a href="{{ canonical }}">{{ publication }}</a></strong></p>
		{% endif %}

		<h3 class="is-hidden">
			By <span>{{ meta.author.first_name }} {{ meta.author.last_name }}</span>
		</h3>

		<div class="meta post-meta">
			{% if date %}
			<time class="dt-published is-hidden">{{ date | dateISO }}</time>
			{% if page.date > now %}
				Scheduled for <strong>{{ date | dateLong }}</strong>.
				<a href="#future">(from the future?)</a>
			{% else %}
				Posted on <strong>{{ date | dateLong }}</strong>.
			{% endif %}
			{% endif %}
			<strong>{{ content | emojiReadTime }}</strong> reading time
		</div>

		{% if page.date > now %}
		<div class="success hiddenMessage" id="future">
			<p><strong>A post from the future!</strong></p>
			<p>You may have noticed this post is dated in the future. I do this to keep myself on a regular writing schedule and to mask the flurries of activity I'm prone to. You can see all of my <a href="/scheduled/">upcoming posts</a> if you want a sneak peak</p>
			<p>Please feel free to read and share as you normally would.</p>
		</div>
		{% endif %}

		<div class="single-content">
			{{ content | safe }}
		</div>

		<div class="meta categories">
			{% for tag in tags %}{% include 'tag.njk' %}{% endfor %}
		</div>
		<p class="meta source">
			<a href="https://gitlab.com/mikestreety/mikestreety/-/blob/main/{{ page.inputPath }}" title="{{ page.inputPath }}">View this post on Gitlab</a>
		</p>
		{% include "webmentions.njk" %}
		<a class="u-bridgy-fed" href="https://fed.brid.gy/"></a>
	</article>

	<h2 class="h3">You might also enjoy&hellip;</h2>
	<div class="post-listing grid-listing">
		<ul class="post-listing-full">
		{% set group = collections[ parent ] %}
		{% set previousPost = group | getPreviousCollectionItem(page) %}
		{% if previousPost %}
			{% set entry = previousPost %}
			{% include 'entry.njk' %}
		{% endif %}
		{% set nextPost = group | getNextCollectionItem(page) %}
		{% if nextPost %}
			{% set entry = nextPost %}
			{% include 'entry.njk' %}
		{% endif %}
		</ul>
	</div>

	<div class="author h-card">
		<img src="https://www.mikestreety.co.uk/assets/img/mike.jpg" class="u-photo" width="100" alt="Mike Street">
		<div class="auhtor-details">
			<h4>Written by <span class="p-author">{{ meta.author.first_name }} {{ meta.author.last_name }}</span></h4>
			<p class="p-note">Mike is a front-end developer from Brighton, UK. He spends his time writing, cycling and coding. You can find Mike on <a href="https://twitter.com/mikestreety">Twitter</a>.</p>
		</div>
	</div>
	{% if not draft %}
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "NewsArticle",
		"mainEntityOfPage":{
			"@type":"WebPage",
			"@id":"{{ meta.site.url }}{{ page.url }}"
		},
		"headline": "{{ title }}",
		"image": {
			"@type": "ImageObject",
			"url": "https://www.mikestreety.co.uk/assets/img/mike.jpg",
			"height": 800,
			"width": 800
		},
		"datePublished": "{{ date | dateISO }}",
		"dateModified": "{{ (updated if updated else date) | dateISO }}",
		"author": {
			"@type": "Person",
			"name": "Mike Street"
		},
		"publisher": {
			"@type": "Organization",
			"name": "Mike Street",
			"logo": {
				"@type": "ImageObject",
				"url": "https://www.mikestreety.co.uk/assets/images/logo.png",
				"width": 244,
				"height": 60
			}
		},
		"description": "{{ intro }}"
	}
	</script>
	{% endif %}
</div>
