<li>
	<article class="article">
		<h3>
			<a href="{{ entry.url }}">{{ entry.data.title if entry.data.title else entry.url }}</a>
		</h3>
		<p class="date">
			{% if entry.date %}
				<time class="dt-published is-hidden">{{ entry.date | dateISO }}</time>
				{% if entry.date > now %}
					Scheduled for <strong>{{ entry.date | dateLong }}</strong>.
				{% else %}
					Posted on <strong>{{ entry.date | dateLong }}</strong>.
				{% endif %}
			{% endif %}
			{% if entry.data.publication %}Written For <strong>{{ entry.data.publication }}</strong>{% endif %}
			{% if entry.url.includes('/drafts/') or entry.data.draft %}<span class="info">Draft</span>{% endif %}
		</p>

		<p class="abstract">
			{{ entry.data.intro }}
		</p>

		<div class="meta categories">
			{% for tag in entry.data.tags %}
				{% include 'tag.njk' %}
			{% endfor %}
		</div>

	</article>
</li>
