<li>
	<article class="article">
		<a href="{{ entry.url }}" class="icon"></a>
		<p class="date">
			{% if entry.date %}
				<time class="dt-published is-hidden">{{ entry.date | dateISO }}</time>
				{% if entry.date > now %}
					Scheduled for {{ entry.date | dateLong }}
				{% else %}
					{{ entry.date | dateLong }}
				{% endif %}
			{% endif %}
		</p>
		<h3>
			<a href="{{ entry.url }}">{{ entry.data.title if entry.data.title else entry.url }}</a>
		</h3>

		<p class="abstract">
			{{ entry.templateContent | safe  }}

			{% if entry.data.link %}
			<a href="{{ entry.data.link }}">{{ entry.data.link }}</a>
			{% endif %}
		</p>

		<div class="meta categories">
			{% for tag in entry.data.tags %}
				{% include 'tag.njk' %}
			{% endfor %}
		</div>

	</article>
</li>
