<ul class="social">
	<li class="twitter">
		<a href="https://twitter.com/mikestreety" title="Follow me on Twitter" rel="me">
			Twitter
		</a>
	</li>

	<li class="instagram">
		<a href="https://www.instagram.com/mikestreety/" title="Follow me on Instagram" rel="me">
			Instagram
		</a>
	</li>

	<li class="coffee">
		<a href="https://www.buymeacoffee.com/mikestreety" title="Buy me a Coffee">
			Buy me a Coffee
		</a>
	</li>
</ul>
