<ul class="social">
	<li class="mastodon">
		<a rel="me" href="https://hachyderm.io/@mikestreety" title="Follow me on Mastodon">
			Mastodon
		</a>
	</li>

	<li class="twitter">
		<a href="https://twitter.com/mikestreety" title="Follow me on Twitter" rel="me">
			Twitter
		</a>
	</li>

	<li class="instagram">
		<a href="https://www.instagram.com/mikestreety/" title="Follow me on Instagram" rel="me">
			Instagram
		</a>
	</li>

	<li class="github">
		<a href="https://github.com/mikestreety/" title="Check out my Github" rel="me">
			Github
		</a>
	</li>

	<li class="gitlab">
		<a href="https://gitlab.com/mikestreety" title="Check out my Gitlab" rel="me">
			Gitlab
		</a>
	</li>

	<li class="coffee">
		<a href="https://www.buymeacoffee.com/mikestreety" title="Buy me a Coffee">
			Buy me a Coffee
		</a>
	</li>
</ul>
