{%- set mentions = webmentions.children | webmentionsForUrl('https://www.mikestreety.co.uk' + page.url) -%}

{% if mentions | length %}
	<div class="webmentions" id="webmentions">
		<h3>Reactions</h3>
		<small>Powered by webmentions</small>
		<div class="webmentions__facepile">
			{% for webmention in mentions | reverse %}
				<img src="{% if webmention.author.photo %}{{ webmention.author.photo }}{% else %}{{ '/img/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ webmention.author.name }}" alt="" class="webmentions__face" />
			{% endfor %}
		</div>

		<ol class="webmentions__list">
			{% for webmention in mentions | reverse %}
				{% if webmention.content %}
					<li class="webmentions__item">
						{% include 'webmention.njk' %}
					</li>
				{% endif %}
			{% endfor %}
		</ol>
	</div>
{% endif %}
